@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

app {
    display: flex;
    flex-direction: column;
    position: relative;
}

.top-row {
    align-items: center;
    display: flex;
    height: 3.5rem;
}

.main { flex: 1; }

.main .top-row {
    background-color: #e6e6e6;
    border-bottom: 1px solid #d6d5d5;
}

.sidebar { background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%); }

.sidebar .top-row { background-color: rgba(0, 0, 0, 0.4); }

.sidebar .navbar-brand { font-size: 1.1rem; }

.sidebar .oi {
    font-size: 1.1rem;
    top: -2px;
    vertical-align: text-top;
    width: 2rem;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type { padding-top: 1rem; }

.nav-item:last-of-type { padding-bottom: 1rem; }

.nav-item a {
    align-items: center;
    border-radius: 4px;
    color: #d7d7d7;
    display: flex;
    height: 3rem;
    line-height: 3rem;
}

.nav-item a.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

.nav-item a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.content { padding-top: 1.1rem; }

.navbar-toggler { background-color: rgba(255, 255, 255, 0.1); }

.valid.modified:not([type=checkbox]) { outline: 1px solid #26b050; }

.invalid { outline: 1px solid red; }

.validation-message { color: red; }

@media (max-width: 767.98px) {
    .main .top-row { display: none; }
}

@media (min-width: 768px) {
    app { flex-direction: row; }

    .sidebar {
        height: 100vh;
        position: sticky;
        top: 0;
        width: 250px;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler { display: none; }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}