@page "/counter"
@using BlazorServersideSample.ViewModel
@using MvvmBlazor.ViewModel
@inherits ComponentBaseMvvm<CounterViewModel>

<h1>Counter</h1>

<p>Current count: @Bind(x => x.CurrentCount)</p>

<button class="btn btn-primary" @onclick="@BindingContext.IncrementCount">Click me</button>